/graficas/Graficador/build/
/graficas/Graficador/nbproject/private/
/JavaRR/build/
/JavaRR/dist/
/SimuladorPrioridad/nbproject/private/
/SimuladorPrioridad/build/
/SimuladorRR/build/
/SimuladorPrioridad_1/nbproject/private/
/SimuladorPrioridad_1/build/
/Simulador primero el mas grande/nbproject/private/
/Simulador primero el mas grande/build/
/Simulador_primero_el_mas_pequenio/nbproject/private/